.vscode/

docker-compose.yml

start.sh
start_worker.sh
update_pip.sh
migrate.sh
migrate_db.sh
init_migrations.sh

*.rdb

db/
*.db
*.sqlite

venv/
env/

api_tmp/
*.csv

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
