{% extends "dashboard/base.html" %}
{% block title %}Open API{% endblock %}

{% set active_page = "api" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Obtener datos entre un rango de fechas</h5>
                    <form action="/api/query_date_range" method="POST">            
                        <fieldset class="start_date">
                            {{ form1.start_date.label }}
                            {{ form1.start_date(class='datepicker') }}
                        </fieldset>
                
                        <fieldset class="stop_date">
                            {{ form1.stop_date.label }}
                            {{ form1.stop_date(class='datepicker') }}
                        </fieldset>
                
                        <fieldset class="selector">
                            {{ form1.fields.label }}
                            {{ form1.fields}}
                        </fieldset>
                        
                        <fieldset class="sensors">
                            {{ form1.sensors.label }}
                            {{ form1.sensors }}
                        </fieldset>

                        {{ form1.hidden_tag() }}
                
                        <div class="submit-button">
                            {{ form1.submit(class='btn btn-lg btn-primary btn-block', style='margin-top: 5%') }}
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Obtener todos los datos entre un rango de fechas</h5>
                    <form action="/api/query_all_date_range" method="POST">            
                        <fieldset class="start_date">
                            {{ form2.start_date.label }}
                            {{ form2.start_date(class='datepicker') }}
                        </fieldset>
                
                        <fieldset class="stop_date">
                            {{ form2.stop_date.label }}
                            {{ form2.stop_date(class='datepicker') }}
                        </fieldset>
                        
                        <fieldset class="sensors">
                            {{ form2.sensors.label }}
                            {{ form2.sensors }}
                        </fieldset>

                        {{ form2.hidden_tag() }}
                
                        <div class="submit-button">
                            {{ form2.submit(class='btn btn-lg btn-primary btn-block', style='margin-top: 5%') }}
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <div class="col-md-4">



        </div>
    </div><!-- End row -->

    <div class="row" style="margin-top: 5%;">

        <div class="col-md-4">

        

        </div>

        <div class="col-md-4">

            

        </div>

        <div class="col-md-4">

            

        </div>

    </div>
</div><!-- End container -->

{% endblock %}