{% extends "base.html" %}

{% block additional_libraries %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">
            <img src="{{ url_for('static', filename='landing/img/logo_wizether_v1.png') }}" style="object-fit: cover; height: 40px; margin-left: 15%;"
            class="logo logo-display" alt="">
        </a>

        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
            data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">
                    <span data-feather="user"></span> Hola {{user.name}}!</a>
            </li>
        </ul>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="{{ url_for('auth.logout') }}">
                    Desconectar <span data-feather="log-out"></span> </a>
            </li>
        </ul>
    </nav>
    
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
    
                        <li class="nav-item">
                            <a class="nav-link {% if active_page == 'dashboard' %}active{% endif %}"
                                href="{{ url_for('dashboard.home') }}" style="margin-top: 2.5%;">
                                <span data-feather="home"></span>
                                Portal <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/">
                                <span data-feather="corner-down-left"></span>
                                Inicio
                            </a>
                        </li>
                    </ul>
    
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Estaciones</span>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link {% if active_page == "my_stations" %}active{% endif %}"  href="/my_stations">
                                <span data-feather="compass"></span>
                                Mis estaciones
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link {% if active_page == "new_station" %}active{% endif %}" href="/new_station">
                                <span data-feather="cloud"></span>
                                Nueva estación
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link {% if active_page == "ask_station" %}active{% endif %}"
                                href="/ask_station">
                                <span data-feather="send"></span>
                                Solicitar estación
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link {% if active_page == "new_gateway" %}active{% endif %}"
                                href="/new_gateway">
                                <span data-feather="cpu"></span>
                                Nuevo gateway
                            </a>
                        </li>
                    </ul>
    
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Datos</span>
                    </h6>
                    <ul class="nav flex-column mb-2">
    
                        <li class="nav-item">
                            <a class="nav-link {% if active_page == "api" %}active{% endif %}" 
                                href="/openapi">
                                <span data-feather="hard-drive"></span>
                                Open API
                            </a>
                        </li>
    
                    </ul>
    
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Usuario</span>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="/change_password">
                                <span data-feather="lock"></span>
                                Cambiar contraseña
                            </a>
                        </li>
                    </ul>
    
                    {% if user.role == "admin" %}
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Admin</span>
                    </h6>
                    <ul class="nav flex-column mb-2">
    
                        <li class="nav-item">
                            <a class="nav-link" href="/signup">
                                <span data-feather="user-plus"></span>
                                Registrar usuario
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/admin">
                                <span data-feather="award"></span>
                                Administración
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="https://grafana.wize.ranii.pro/">
                                <span data-feather="pie-chart"></span>
                                Grafana
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="https://influxdb.wize.ranii.pro/">
                                <span data-feather="database"></span>
                                InfluxDB
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="https://nodered.wize.ranii.pro">
                                <span data-feather="git-merge"></span>
                                Node Red
                            </a>
                        </li>
                    </ul>
                    {% endif %}
    
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" style="padding-top: 20px">
                
                <!-- Flash menssages -->
                <div id="alert-message">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="alert alert-warning">
                        {{ messages[0] }}
                    </div>
                    {% endif %}
                    {% endwith %}
                </div>
                
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script>
        feather.replace()
    </script>

    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    {% block app_scripts %}{% endblock %}
        
    {% endblock %}