{% extends "dashboard/base.html" %}
{% block title %}Portal{% endblock %}

{% block additional_libraries %}
    {{ super() }}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}" />
{% endblock %}

{% set active_page = "dashboard" %}

{% block content %}
                <h2></h2>
                <h1 class="display-4 text-center">Bienvenido al Portal de Usuario de <i>WizeTher</i></h1>

                <div class="row" style="margin-top: 1.5%;">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="card">
                                    <div class="card-header">
                                        Header
                                    </div>

                                    <div class="card-body">
                                        <div class="row">

                                            <iframe src="https://grafana.wize.ranii.pro/d-solo/grAXaj8Mz/test-dashboard?from=1615805769442&to=1615811484224&orgId=1&panelId=2" class="graph" frameborder="0"></iframe>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-6">

                                <div class="card">
                                    <div class="card-header">
                                        Header
                                    </div>

                                    <div class="card-body">
                                        <div class="row">

                                            <iframe src="https://grafana.wize.ranii.pro/d-solo/grAXaj8Mz/test-dashboard?from=1615805769442&to=1615811484224&orgId=1&panelId=2" class="graph" frameborder="0"></iframe>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="row" style="margin-top: 2%;">
                            <div class="col-md-3">

                                <div class="card">
                                    <div class="card-header">
                                        Header
                                    </div>

                                    <div class="card-body">
                                        <div class="row">

                                            <iframe src="https://grafana.wize.ranii.pro/d-solo/grAXaj8Mz/test-dashboard?from=1615805769442&to=1615811484224&orgId=1&panelId=2" class="graph" frameborder="0"></iframe>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-6">

                                <div class="card">
                                    <div class="card-header">
                                        Header
                                    </div>

                                    <div class="card-body">
                                        <div class="row">

                                            <iframe src="https://grafana.wize.ranii.pro/d-solo/grAXaj8Mz/test-dashboard?from=1615805769442&to=1615811484224&orgId=1&panelId=2" class="graph" frameborder="0"></iframe>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-3">

                                <div class="card">
                                    <div class="card-header">
                                        Header
                                    </div>

                                    <div class="card-body">
                                        <div class="row">

                                            <iframe src="https://grafana.wize.ranii.pro/d-solo/grAXaj8Mz/test-dashboard?from=1615805769442&to=1615811484224&orgId=1&panelId=2" class="graph" frameborder="0"></iframe>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}