{% extends "dashboard/base.html" %}
{% block title %}Portal{% endblock %}

{% block additional_libraries %}
    {{ super() }}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}" />
{% endblock %}

{% set active_page = "dashboard" %}

{% block content %}
                <h2></h2>
                <h1 class="display-4 text-center">Bienvenido al Portal de Usuario de <i>WizeTher</i></h1>

                <div class="row" style="margin-top: 2.5%;">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="card">
                                    <div class="card-header">
                                        Temperatura estación '20212230' últimas 24h
                                    </div>

                                    <div class="card-body">
                                        <div class="row">

                                            <iframe src="{{ src_temp }}" class="graph" frameborder="0"></iframe>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-6">

                                <div class="card">
                                    <div class="card-header">
                                        Humedad estación '20212230' últimas 24h
                                    </div>

                                    <div class="card-body">
                                        <div class="row">

                                            <iframe src="{{ src_hum }}" class="graph" frameborder="0"></iframe>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="row" style="margin-top: 2%;">
                            <div class="col-md-3">

                                <div class="card">
                                    <div class="card-header">
                                        Calidad del aire estación '20212230'
                                    </div>

                                    <div class="card-body">
                                        <div class="row">

                                            <iframe src="{{ src_air }}" class="graph" frameborder="0"></iframe>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-6">

                                <div class="card">
                                    <div class="card-header">
                                        Presión estación '20212230' últimas 24h
                                    </div>

                                    <div class="card-body">
                                        <div class="row">

                                            <iframe src="{{ src_press }}" class="graph" frameborder="0"></iframe>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-3">

                                <div class="card">
                                    <div class="card-header">
                                        Nivel de ruido estación '20212230'
                                    </div>

                                    <div class="card-body">
                                        <div class="row">

                                            <iframe src="{{ src_loud }}" class="graph" frameborder="0"></iframe>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row" style="margin-top: 2%;">
                            <div class="col-md-6">

                                <div class="card">
                                    <div class="card-header">
                                        Actividad del gateway '12345678'
                                    </div>
                                
                                    <div class="card-body">
                                        <div class="row">
                                
                                            <iframe src="{{ src_uptime }}" class="graph-text" frameborder="0"></iframe>
                                
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}